<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <script type="module" src="../app.js" defer></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>Campi Bucaramanga</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
</head>
<body>

    <main>

        <general-chat></general-chat>
        <!-- <background-svg></background-svg> -->
        

    </main>
    
</body>
</html>